spring:
  application:
    name: Backend API
  data:
    mongodb:
      host: localhost
      port: 27017
      database: practico_db

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

