name: Build and Analyze with SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build backend
        working-directory: backend        # <<< IMPORTANTE
        run: mvn -B clean verify

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v5
        with:
          projectBaseDir: backend        # <<< IMPORTANTE
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_SCANNER_OPTS: "-Xmx1G"
